body {
    font-family: 'Times New Roman', Times, serif
    margin: 10px;
    padding: 15px;
    background-color: beige;
}
header {
     background-color: yellowgreen;
     color: white; 
     padding: 20px; 
     text-align: center;
     font-size: 30px;
     font-family: 'Arial', sans-serif;
}
a {
    color: darkblue;
    text-decoration: underline
}
footer {
    background-color: yellowgreen;
    color: white;
    text-align: center;
    padding: 10px;
    position: right;
    width: 100%;
}
.container li :hover {
    color: red;
    text-decoration: underline;
}
.container {
    text-align: left;
}
table, th, td {
    border: 2px solid yellowgreen;
    border-collapse: collapse;
    padding: 10px;
    text-align: left;
    background-color: lightyellow;
    border-style: hidden;
}
form{
    display: flex;
    text-decoration: dotted underline;
    flex-direction: column;
    background-color: lightyellow;
    border-style: dashed;
}
form input{
    margin: 5px;
    padding: 5px;
    border: 2px solid darkblue;
    border-radius: 4px;
}